.ly_nav {
	background: #fff;
}

.ly_ul li a {
	display: block;
	height: 71px;
	line-height: 36px;
	font-size: 16px;
	width: 100%;
}

.ly_ul li:hover {
	background: #52B6EC;
	color: #fff;
}

.ly_ul li:hover a {
	color: #fff !important;
}

.ly_ul li i:hover {
	background: #52B6EC;
	color: #fff;
}

.navbar-brand1 {
	float: left;
	height: 50px;
	/*padding: 15px 15px;*/
	font-size: 18px;
	line-height: 70px;
}

.navbar-default {
	border: none;
}

.ly_active {
	color: #fff;
	background-color: #52B6EC;
}

.ly_active a {
	color: #fff !important;
}


/*.ly_carousel {
	width: 100%;
	background: url(../img/ppt_bg.jpg) no-repeat center top;
	height: 767px;
}*/

.imgbox {
	/*width: 786px;*/
	height: 480px;
	margin: 0 auto;
	position: relative;
	top: 129px
}

.item {
	padding: 40px 0;
	color: #fff;
}

.ly_services span {
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #52B6EC;
}

.ly_services {
	padding-bottom: 100px;
}

@media (min-width: 992px) {
	.col-md-20 {
		width: 20%;
	}
}

@media only screen and (min-width: 1200px) {
	.imgbox img {
		/*position: absolute;
		top: 138px;
		left: 15px;*/
	}
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
	.imgbox img {
		/*position: absolute;
		top: 139px;
		left: -87px;*/
	}
}

@media only screen and (min-width: 100px) and (max-width:991px) {
	.imgbox img {
		/*position: absolute;*/
		/*top: 100px;
		left: -195px;*/
	}
}

.portfolio_items img {
	width: 100%;
}

.portfolio_items {
	padding-top: 40px;
}

@media (min-width: 768px) and (max-width:992px) {
	.col-sm-2-item {
		float: left;
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
		margin-bottom: 20px;
	}
	.col-sm-2-item img {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-md-3-item {
		float: left;
		width: 28%;
		margin-right: 5%;
		margin-bottom: 20px;
	}
}

.portfolio_items li {
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
	cursor: pointer;
}

.portfolio_items li:hover {
	opacity: 0.8;
}

.clientele span {
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #52B6EC;
}

.services_info .title {
	font-size: 23px;
}

.portfolio_items .items_title {
	font-size: 18px;
	margin: 11px 0 8px 0 !important;
}

.portfolio_items li {
	background: #fff;
}

.portfolio_items i {
	color: #A0A9B2;
}

.col-sm-2-clientele img {
	width: auto;
}

.clientele_item {
	margin-top: 30px;
}

.clientele li {
	background: #F1F5F8;
	padding: 15px;
}

@media only screen and (min-width: 992px) {
	.col-md-4-item {
		width: 20%;
		margin-right: 5%;
		float: left;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.col-sm-2-clientele {
		width: 45%;
		float: left;
		margin-right: 5%;
		margin-bottom: 20px;
	}
}

.items {
	padding-top: 100px;
}

.services_info p {
	margin: 0;
}

.services_info .title {
	padding-bottom: 10px;
	color: #333;
}

.items li {
	cursor: pointer;
}

.min_wid {
	min-width: 640px;
}

.portfolio span {
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #52B6EC;
}

.portfolio {
	background: #F1F5F8;
}

.title {
	padding-top: 30px;
	color: #52B6EC;
	font-size: 30px;
}

.main_slider {
	margin-top: -20px;
	overflow: hidden;
}


/*.ly_pad {
	padding-top: 179px;
	position: relative;
}*/

.item_ban {
	position: absolute;
	left: 50%;
	margin-left: -392px;
}

@media only screen and (min-width: 768px) {
	.po {
		margin-top: -50px;
	}
}

@media only screen and (max-width: 768px) {
	.po {
		font-size: 22px;
		margin-top: -103px;
		margin-left: 204px;
		padding: 0 15px;
	}
}

.ly_carousel {
	background-image: url(../img/ppt_bg.jpg);
	background-position: center 64px;
	background-repeat: no-repeat;
	padding-top: 172px;
	height: 831px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	position: relative;
}

@media only screen and (max-width:768px) {
	.item {
		padding: 0;
		color: #fff;
	}
	.item h1 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 768px) {
	.portfolio_items li {
		margin-bottom: 20px;
		text-align: center;
	}
	.portfolio_items li img {
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	.clientele_item li {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

.prev,
.next {
	position: absolute;
	color: #fff;
	font-size: 33px;
	font-weight: 400;
}

.z-ind {
	z-index: 3;
}

.img_show {
	position: absolute;
	display: block;
	right: 0;
}

.nav_imgbox.po {
	position: absolute;
	display: block;
	right: 0;
	top: 121px;
}

.no {
	display: none;
}

.aboutus {
	background: url(../img/about_bg.jpg) repeat-x center center;
	height: 640px;
	margin-top: 100px;
	padding-top: 50px;
	color: #fff;
}

.nav_hei {
	height: 70px;
}

.nav_imgbox {
	display: none;
}

.nav_pad {
	padding: 10px;
}

.nav_img_mar {
	margin-left: 20px;
}

.nav_btn_mar {
	margin: 18px 20px;
}

.contactus {
	background: url(../img/content_bg.png) repeat-x center center;
	/* height: 200px; */
	color: #fff;
	/* overflow: hidden; */
	/* background-size: cover; */
	background-color: #626160;
}

@media only screen and (max-width: 768px) {
	.ly_carousel {
		background-image: url(../img/ppt_bg.jpg);
		background-repeat: no-repeat;
		height: 220px;
		color: #fff;
	}
}

@media only screen and (max-width:768px) {}

.ly_pad {
	padding: 52px 0;
	position: relative;
}

.aboutus span {
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #77d2f7;
}

.contactus p {
	padding: 10px 0;
}

.aboutus .text p {
	font-size: 16px;
}

footer {
	color: #A4A7B8;
	font-size: 16px;
}

.footer_pad {
	padding: 30px 0;
}

.aboutus .text {
	margin-top: 30px;
}

.prev,
.next {
	padding: 11px 10px;
	background: red;
	background: rgba(0, 0, 0, .3);
}

.no {
	/*display: none;*/
}

.prev {
	left: 1%;
	top: 50%;
	margin-top: -22px;
}

.next {
	right: 1%;
	top: 50%;
	margin-top: -22px;
}